*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: opacity .7s ease, background .5s ease, color .5s ease;
}

:root{
    --light-bg: #cfcfcf;
    --light-text: #050505;
    --light-main: #ffffff;
    --light-content: #cfcfcf;

    --dark-bg: #000;
    --dark-main: #050505;
    --dark-content: #101010;
    --dark-text: #efefef;

    --bg-color: var(--light-bg);
    --main-color: var(--light-main);
    --content-color: var(--light-content);
    --text-color: var(--light-text);
    --hl-color: #0077ff;
    
    --bg-dark: #000812;
    --shadow-default: 0 6px 8px #00000055;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    background: var(--bg-color);
}

main{
    width: 80%;
    max-width: 1000px;
    margin-top: 50px;
    /* height: 100%; */
}


header{
    background: var(--main-color);
    padding: 50px;
    display: flex;
    gap: 20px;
    /* border-radius: 50px; */
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-default);
}

.banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.banner::after{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,black, #000000dd, transparent);
    position: absolute;
    top: 0;
    left: 0;
}
.banner img{
    width: 100%;
    /* border-radius: 20px; */
}

.profile-image{
    display: flex;
    /* width: 100%; */
    /* height: 200px; */
    /* overflow: hidden; */
    /* background: #000; */
    z-index: 1;
    position: relative;
}
.profile-image img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.profile-image::after{
    content: '@ Jvds-dev';
    position: absolute;
    color: var(--text-color);
    /* color: aqua; */
    z-index: 10;
    /* background: red; */
    bottom: 0;
    right: 0;
    font-size: 22px;
    font-weight: bolder;
    /* transform: translate3d(-50px, 35px, 0); */
    transform: translate3d(130px, -30px, 0);
}

.bio{
    position: absolute;
    z-index: 1;
    /* background: red; */
    bottom: 0;
    left: 0;
    transform: translate3d(290px, -50px, 0);
    /* font-weight: lighter; */
}
.bio p{
    /* position: absolute; */
    color: var(--text-color);
    top: 0;
    font-size: 18px;
    font-weight: 600;
}

.stats{
    width: 100%;
    /* background: red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.stats .profile-follows{
    /* background: green; */
    display: flex;
    gap: 20px;
}
.profile-follows h3{
    color: #fff;
    font-size: 20px;
}

.nav{
    background: var(--main-color);
    padding: 15px;
    margin-top: 10px;
    border-radius:10px;
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-default);
}
.nav button{
    /* text-decoration: none; */
    background: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
}

.content-container{
    background: red;
    position: relative;
    height: 100%;
}
/* #home{
    background: red;
}
#about{
    background: green;
}
#projects{
    background: yellow;
}
#contact{
    background: blue;
} */
#home, #about, #projects, #contact{
    position: absolute;
    width: 100%;
    /* height: 800px; */
    min-height: 800px;
    background: var(--main-color);
    margin-top: 10px;
    border-radius: 10px;
    top: 0;
    left: 0;
    opacity: 0;
    /* transition: opacity .1s ease, background .5s ease; */
    box-shadow: var(--shadow-default);
}
#home.visible,
#about.visible,
#projects.visible,
#contact.visible{
    opacity: 1;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#home .content-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* padding: 20px; */
    flex-wrap: wrap;
    /* flex: 1; */
}
#home .content-card{
    width: 400px;
    height: 200px;
    background: var(--content-color);
    box-shadow: var(--shadow-default);
    border-radius: 20px;
}


.side-bar{
    position: fixed;
    right: 20px;
    /* top: 50%; */
    bottom: 20px;
}
.side-bar button{
    background: var(--main-color);
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 30px;
    box-shadow: var(--shadow-default);
    cursor: pointer;
}

footer{
    width: 100%;
    height: 80px;
}